* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root {
   --primary-color: #283441;
   --secondary-color: #EFEFEF;
   --tertiary-color: #0B539C;
   --bg-primary: #FDF9ED;
   --bg-secondary: #F9F9F9;
   --bg-tertiary: #FFFFFF;
   --semi-bold: 550;
}


html {
   scroll-behavior: smooth;
}


body {
   background-color: var(--bg-primary);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   overflow-x: hidden;
   width: 100%;
   overflow-x: hidden;
}


.header {
   width: 100%;
   height: 100vh;
   position: relative;
   background-color: black;
}

.header_bg {
   position: absolute;
   top: 0;
   bottom: 0;
   background: var(--primary-color);
   width: 100%;
   height: 100vh;
}

.navigation {
   width: 100%;
   position: fixed;
   z-index: 100;
   padding: 10px 0;
   /* background-color: red; */
   /* background-color: var(--primary-color); */
   color: var(--bg-tertiary);
}

.navigation a {
   color: var(--bg-secondary);
   text-decoration: none;
}

.navigation .nav {
   width: 90%;
   margin: 0 auto;
   padding: 1px 0;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   transition: all 1.5s;
   transform: translateY(-3em);
   clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   /* background-color: red; */
}

.logo a{
   font-size: 1.4rem;
   font-weight: var(--semi-bold);
}

.logo .line {
   width: 2rem;
   height: 2px;
   background-color: var(--bg-primary);
   margin-top: 2px;
   margin-left: 2px;
}


.navigation .nav .nav_lists {
   /* width: 100%; */
   display: flex;
   align-items: flex-end;
   list-style: none;
}

.menu {
   display: flex;
   align-items: center;
   list-style: none;
}

.navigation .nav .nav_lists li {
   margin-left: 30px;
   padding: 2px 10px;
   font-size: 1.05rem;
}


.navigation .nav .nav_lists li a:hover {
   color: #13caf8;
   font-weight: 550;
}

.navigation .cart .icon {
   font-size: 1rem;
}


.incart {
   position: absolute;
   top: -2px;
   right: 10px;
   font-size: 0.8rem;
   font-weight: 550;
}

.menu_btn .icon, .close_btn .icon{
   font-size: 1.4rem;
   cursor: pointer;
}


.menu_btn, .close_btn {
   display: none;
}

/* Change navigation background when scroll */
.when_scroll {
   width: 100%;
   background-color: var(--primary-color);
   color: var(--bg-secondary);
   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.responsive_nav_menu {
   display: none;
}

.header_body {
   display: grid;
   grid-template-columns: 3rem 1fr;
   gap: 0 15px;
   justify-content: center;
   align-items: center;
   color: var(--secondary-color);
   width: 100%;
   height: 100%;
}

.header_body .socials {
   position: relative;
   bottom: -14rem;
}

.header_body .socials ul {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header_body .socials ul a {
   margin-bottom: 10px;
}


.header_body .socials ul a img{
   width: 1.5rem;
}



.header_body .content_body {
   width: 100%;
   display: flex;
   align-items: center;
   /* background: red; */
   /* height: 100%; */
   color: var(--secondary-color);
}


.header_body .content_body .content h5 {
  font-size: 1.1rem;
  font-weight: var(--semi-bold);
  /* margin-bottom: 1rem; */
}

.header_body .content_body .content h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: var(--semi-bold);
  width: 30rem;
  letter-spacing: 1.2px;
  margin: 0;
  padding: 0;
}

.header_body .content_body .content p {
   margin: 1rem 0;
   font-size: 1.2rem;
   width: 30rem;
   font-weight: normal;
}

.reveal {
   clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   transition: all 1.3s;
   transform: translateY(-3em);
}


.header_cta button, .about_cta button {
   padding: 5px 15px;
   border: none;
   border-radius: 3px;
   font-size: 1rem;
   color: var(--primary-color);
   font-weight: normal;
   margin-top: 10px;
   cursor: pointer;
}

.header_body .content_body .content_img {
   width: 45rem;
   height: 100.5vh;
   position: absolute;
   right: 0;
   bottom: -1.94rem;
}


.header_body .content_body .content_img img {
   width: 100%;
   height: 100%;
   position: relative;
   /* top: 1rem; */
   /* right: 0; */
   opacity: 0;
   transition: 1.3s;
}

.header_footer {
   width: 100%;
   background-color: var(--bg-secondary);
   display: flex;
   align-items: center;
   padding: 10px 0;
}

.header_footer_container {
   /* background-color: red; */
   width: 90%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 10rem);
   align-items: center;
}

.header_footer .header_footer_text {
   clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   transition: all 1s;
}

.header_footer div p {
   margin-top: 5px;
   font-size: 1rem;
   width: 100%;
}

/* End Of Header */

.main {
   width: 100%;
   margin: 8rem 0 0 0;
   color: var(--primary-color);
}


.main .container {
   width: 90%;
   margin: 0 auto;
}

/* About */
.about {
   padding: 3rem 0;
}

.about .about_content {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 0 2rem;
   justify-content: space-between;
   align-items: flex-start;
}


.head_text {
   text-transform: uppercase;
   font-size: 1rem;
   font-weight: var(--semi-bold);
   margin-bottom: 2rem;
}


.content h1 {
   font-weight: var(--semi-bold);
   width: 20rem;
   letter-spacing: 1.5px;
   font-size: 2rem;
}

.content h1 span {
   color: var(--tertiary-color);
}

.content p {
   margin: 1rem 0;
   width: 100%;
   font-size: 1.1rem;
   line-height: 1.6rem;
   letter-spacing: 1px;
   font-weight: normal;
}


.about .content_img {
   width: 100%;
   height: 30rem;
}

.about .content_img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.about_cta button {
   background: var(--primary-color);
   color: var(--bg-primary);
   cursor: pointer;
}

.fade_in {
   opacity: 0;
   transition: opacity 250ms ease-in;
}

.fade_in.appear {
   opacity: 1;
}


.shop_container .product .cart_btn button:hover, .contact_btn button:hover, .about_cta button:hover {
   background-color: #044c62;
}

/* End Of About */


/* Swiper */
.mySwiper{
   margin-left: initial;
   margin-right: initial;
}

.swiper_btns img {
   width: 1.8rem;
}


.swiper-button-next::after,
.swiper-button-prev::after{
   content: '';
   display: none;
}


.swiper_btns {
   width: 100%;
   position: relative;
   bottom: 20px;
   left: 0;
   display: none;
}

.swiper_btns .swiper-button-next {
   position: relative;
   right: -5rem;
}


.swiper-pagination {
   display: none;
}

/* What We Do */
.services {
   width: 100%;
   margin: 4rem 0;
   padding: 3rem 0 1rem 0;
   background-color: var(--bg-secondary);
}


.services .cards {
   width: 100%;
   /* display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px; */
   margin-top: 3rem;
   padding: 0 0 5rem 0;
}

.cards .card {
   width: 100%;
   background-color: var(--bg-tertiary);
   text-align: center;
   padding: 15px 10px;
   box-shadow: 0 2px 6px #eeeeee;
   border-radius: 5px;
   cursor: grabbing;
}


.cards .card img {
   width: 70%;
   height: 12rem;
}

.cards .card h4 {
   margin: 10px 0;
   font-weight: var(--semi-bold);
   font-size: 1.5rem;
   font-size: 1.2rem;
}

.cards .card p {
   font-size: 1rem;
   text-align: center;
}

/* End Of What We Do */


/* Process */
.processes {
   width: 100%;
   margin: 3rem 0;
   padding: 3rem 0;
}

.contents .content_card {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 4rem;
}

.contents .content_card:nth-child(3) {
   margin-bottom: 1rem;
}

.contents .content_card:nth-child(2) {
   flex-direction: row-reverse;
}

.content_card .content h1 {
   width: 36rem;
}

.content_card .content p {
   width: 35rem;
   font-size: 1.1rem;
}

.content_card .content_img img {
   width: 35rem;
}
/* End Of Processes */


.benefits {
   width: 100%;
   margin: 4rem 0;
   padding: 3rem 0 1rem 0;
   background-color: var(--bg-secondary);
}


.benefits .contents {
   width: 100%;
   margin-top: 3rem;
   padding: 0 0 5rem 0;
} 
   

.benefits .contents .slider .timeline {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* margin-right: 1rem;  */
} 

.benefits .contents .slider {
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   margin-bottom: 1rem;
   cursor: grabbing;
   /* width: 20rem; */
   /* background-color: red; */
   transition: all .3s ease;
}

.timeline .circle {
   width: 2rem;
   height: 2rem;
   background-color: #184F8B;
   border-radius: 50px;
   justify-content: center;
   align-items: center;
   display: flex;
   color: var(--secondary-color);
}

.benefits .contents .line {
   width: 2px;
   height: 5.2rem;
   background-color: #184F8B;
   margin: 2px 0;
}

.benefit {
   margin-left: 20px;
}

.benefit h4 {
   width: 100%;
   font-size: 1.3rem;
   font-weight: var(--semi-bold);
   margin-bottom: 5px;
}

.benefit p {
   width: 35rem;
   margin: 0;
   font-size: 1rem;
}

.slider_btns {
   display: none;
}

/* End Of Benefits */


.works {
   width: 100%;
   margin: 3rem 0;
   padding: 3rem 0;
}

.works .filters {
   background-color: var(--bg-tertiary);
   padding: 15px 30px;
   width: 70vw;
   margin: 3rem auto;
   border-radius: 5px;
}

.works .filters ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
   list-style: none;
}

.works .filters ul li {
   cursor: pointer;
   color: #8a8a8a;
}

.works .filters ul li.active {
   font-weight: bold;
   color: #000000;
}

.works_container {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 12px;
}

.works_container .work {
   border-radius: 5px;
   background-color: var(--bg-tertiary);
   padding: 10px;
   transition: 200ms ease-in;
}

.works_container .work:hover, .shop_container .product:hover, .cards .card:hover {
   box-shadow: 0 3px 6px #e4e4e4;
   background-color: #f6f6f6;
   transform: scale(1.05);
}

.works_container .work img {
   width: 100%;
   height: 15rem;
}

.works_container .work .work_img {
   text-align: center;
}


.works_container .work h3, .teams_container .team h3 {
   font-size: 1.1rem;
   font-weight: var(--semi-bold);
   margin-top: 15px;
}

.works_container .work p, .teams_container .team p {
   font-size: 0.9rem;
   font-weight: normal;
   margin: 5px 0;
}
/* End Of Our Works */

.teams {
   width: 100%;
   margin: 3rem 0;
   padding: 3rem 0 1rem 0;
   background-color: var(--bg-secondary);
}

.teams .teams_container {
   margin-top: 3rem;
   padding: 0 0 5rem 0;
}

.teams_container .team {
   background-color: var(--bg-tertiary);
   padding: 10px;
   cursor: grabbing;
   transition: 200ms ease-in;
}

.teams_container .team:hover {
   /* box-shadow: 0 6px 9px #e4e4e4; */
   background-color: #f6f6f6;
   transform: scale(1.05);
}

.teams_container .team .team_img {
   text-align: center;
}

.teams_container .team img {
  width: 100%;
}
/* End Of Teams */


.reviews {
   width: 100%;
   margin: 3rem 0;
   padding: 3rem 0 1rem 0;
}

.reviews .reviews_container {
   margin-top: 3rem;
   padding: 0 0 5rem 0;
}

.reviews_container .review {
   background-color: var(--bg-tertiary);
   padding: 20px;
   border-radius: 3px;
   cursor: grabbing;
}


.review .info {
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
}

.review .info img {
   width: 4rem;
   margin-right: 20px;
}

.review .info h5 {
   margin: 10px 0;
   font-size: 1.1rem;
   font-weight: var(--semi-bold);
}
/* End Of Reviews */


.shop {
   width: 100%;
   margin: 3rem 0;
   padding: 3rem 0;
}

.shop_container {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 15px;
}

.shop_container .product {
   background-color: var(--bg-tertiary);
   text-align: center;
   padding: 10px;
   transition: 200ms ease-in;
}

.shop_container .product img {
   width: 100%;
}

.shop_container .product h3 {
   font-size: 1.2rem;
   font-weight: 550;
}

.shop_container .product p {
   margin: 1rem 0;
   font-size: 1.2rem;
}

.shop_container .product .cart_btn {
   margin-bottom: 20px;
}

.shop_container .product .cart_btn button {
   background-color: var(--primary-color);
   color: var(--secondary-color);
   font-size: 0.9rem;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   padding: 5px 20px;
   border: none;
   border-radius: 3px;
   cursor: pointer;
}


/* End Of Shop */

.contact {
   margin: 3rem 0 0 0;
   padding: 2rem 0;
   background-color: var(--bg-secondary);
}

.contact_container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.contact_info h2 {
   width: 20rem;
   font-size: 1.5rem;
   font-weight: var(--semi-bold);
   margin-bottom: 1rem;
}

.contact_info h4 {
   font-size: 1.2rem;
   font-weight: var(--semi-bold);
   margin-bottom: 1rem;
}

.contact_info p {
   width: 25rem;
   font-size: 1rem;
   color: #525151;
}

.contact_form .form_group {
   margin-bottom: 2rem;
}

.contact_form .form_group input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 30rem;
  font-size: 1rem;
  padding: 5px;
}

.contact_form .form_group p {
  margin-bottom: 10px;
}

textarea {
   width: 30rem;
}

.contact_btn button {
   padding: 8px 189px;
   background-color: var(--primary-color);
   color: var(--secondary-color);
   font-size: 1rem;
   border: none;
   border-radius: 3px;
   cursor: pointer;
}

.scroll_to_top {
   position: fixed;
   right: 10px;
   bottom: 50px;
   display: none;
   z-index: 100;
}

.scroll_to_top img {
   width: 2rem;
   height: 2rem;
   transform: rotate(-90deg);
   cursor: pointer;
}


.scroll_to_top.arrow_appear {
   display: block;
}

.footer {
   background-color: #283441;
   color: var(--secondary-color);
   padding: 15px 0;
   text-align: center;
   font-size: 1rem;
}


/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
   .main {
      margin: 7rem 0 0 0;
   }

   .main .container {
      /* background: red; */
      max-width: 90%;
   }

   .header {
      height: 90vh;
   }

   .header_bg {
      height: 90vh;
   }

   .menu_btn .icon,
   .close_btn .icon {
      font-size: 1.5rem;
   }

   .menu_btn {
      display: block;
      margin-left: 20px;
   }

   .close_btn {
      display: none;
      color: black;
      position: fixed;
      top: 1rem;
      right: 1rem;
      z-index: 1000;
   }

   .navigation {
      padding: 15px 0;
   }

   .navigation .nav {
      padding-top: 15px;
      max-width: 90%;
   }

   .logo a {
      font-size: 1.7rem;
      font-weight: var(--semi-bold);
   }


   .navigation .nav .nav_lists .menu {
      display: none;
   }

   .responsive_nav_menu {
      position: fixed;
      top: 0;
      right: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: fit-content;
      width: 27rem;
      background-color: white;
      text-align: left;
      padding: 3rem 1rem 0 3rem;
      transition: 0.3s ease;
      display: none;
      /* font-size: 1.5rem; */
   }

   .responsive_nav_menu li {
      list-style: none;
      width: 100%;
      height: 4rem;
      font-size: 1.3rem;
   }

   .responsive_nav_menu li a {
      text-decoration: none;
      color: black;
   }

   .responsive_nav_menu.display_nav {
      display: block;
      z-index: 100;
   }




   .cart {
      position: relative;
   }

   .navigation .cart .icon {
      font-size: 1.3rem;
   }


   .incart {
      top: -1.15rem;
      right: 5px;
      font-size: 1.2rem;
   }


   .header_body {
      width: 100%;
      /* height: 90vh; */
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
   }

   .header_body .socials {
      display: none;
   }

   .header_body .content_body {
      width: 100%;
      /* height: 100vh; */
      margin: 1rem auto;
      margin-bottom: 0;
      flex-direction: column-reverse;
   }


   .header_body .content_body .content {
      width: 90%;
      margin-top: 2rem;
   }

   .header_body .content_body .content h5 {
      width: 100%;
      font-size: 1.3rem;
      margin: 10px 0 5px 0;
   }

   .header_body .content_body .content h2 {
      font-size: 2.5rem;
      width: 100%;
      margin: 0 0 10px 0;
      line-height: 2.1rem;
   }

   .header_body .content_body .content p {
      font-size: 1.5rem;
      width: 100%;
      margin: 0 0 10px 0;
   }

   .header_cta button,
   .about_cta button {
      font-size: 1.2rem;
      padding: 7px 20px;
   }

   .header_body .content_body .content_img {
      width: 100%;
      height: 35rem;
      position: static;
   }



   .header_footer_container {
      grid-template-columns: repeat(3, 1fr);
   }

   .header_footer_text h1 {
      font-size: 1.8rem;
   }

   .header_footer div p {
      font-size: 1.1rem;
   }
   
   /* End Of Header */


   /* End Of Main Container */
   
   .head_text {
      font-size: 0.9rem;
      margin-bottom: 10px;
   }
   

   /* About */
   .about .about_content {
      width: 100%;
      display: flex;
      flex-direction: column;
      /* margin-bottom: 2rem; */
   }

   .about_content .content {
      margin-bottom: 2rem;
   }


   .content h1 {
      font-size: 2.3rem;
      width: 20rem;
      margin-top: 10px;
   }

   .content p {
      width: 41rem;
      font-size: 1.3rem;
      line-height: 2rem;
   }

   .about .content_img {
      width: 100%;
   }

   .about .content_img img {
      width: 100%;
      height: 30rem;
   }

   /* End Of About */

   /* Swiper Js */

   
   .swiper_btns img {
      width: 2rem;
   }

   .swiper_btns {
      left: 18rem;
      display: block;
   }

   
   .cards .card h4 {
      margin: 10px 0;
      font-weight: var(--semi-bold);
      font-size: 1.5rem;
   }

   .cards .card p {
      font-size: 1.2rem;
      text-align: center;
   }

   /* End Of What We Do */




   /* Process */
   
   /* Processes */  
   .contents .content_card {
      flex-direction: column;
      align-items: flex-start;
   }

   .contents .content_card:nth-child(3) {
      margin-bottom: 1rem;
   }

   .contents .content_card:nth-child(2) {
      flex-direction: column;
   }

   .content_card .content h1 {
      width: 100%;
      font-size: 2.2rem;
   }

   .content_card .content p {
      width: 100%;
      font-size: 1.25rem;
      margin-bottom: 2rem;
   }

   .content_card .content_img img {
      width: 100%;
      /* height: 25rem; */
   }

   /* End Of Processes */

   /* Benefits */
   .timeline .circle {
      width: 2rem;
      height: 2rem;
      font-size: 1.1rem;
   }

   .benefits .contents .line {
      height: 8rem;
   } 

   .benefit h4 {
      font-size: 1.5rem;
   }

   .benefit p {
      width: 40rem;
      font-size: 1.3rem;
      line-height: 2rem;
   }
   
   /* End Of Benefits */


   .works .filters {
      display: none;
   }


   .works_container {
      grid-template-columns: repeat(2, 1fr);
   }

      
   .works_container .work {
      padding: 10px;
   }

   

   .works_container .work img {
      width: 100%;
   }

   .works_container h3,
   .teams_container .team h3 {
      font-size: 1.3rem;
   }

   .works_container p,
   .teams_container .team p {
      font-size: 1.1rem;
   }
   /* End Of Our Works */

   .teams .teams_container {
      grid-template-columns: repeat(3, 1fr);
   }


   .teams_container .team img {
      width: 100%;
    }


   /* End Of Teams */

   .review .info h5 {
      font-size: 1.4rem;
   }

   .review .info p {
      font-size: 1.2rem;
   }

   .review .review_ {
      font-size: 1.2rem;
   }

   .shop_container {
      grid-template-columns: repeat(2, 1fr);
   }

   .shop_container .product img {
      width: 100%;
   }

   .shop_container .product .product_name {
      font-size: 1.5rem;
   }

   .shop_container .product .product_price {
      font-size: 1.5rem;
   }

   .shop_container .product .cart_btn button {
      font-size: 1.15rem;
      padding: 8px 45px;
   }
   
   
      
   .contact_container {
      flex-direction: column;
      align-items: flex-start;
   }

   .contact_info h2 {
      width: 38rem;
      font-size: 1.6rem;
   }

   .contact_info h4 {
      font-size: 1.6rem;
   }

   .contact_info p {
      width: 40rem;
      font-size: 1.3rem;
      margin-bottom: 3rem;
   }

   .contact_form .form_group {
      margin-bottom: 2.3rem;
   }

   .contact_form .form_group input {
      width: 42rem;
      font-size: 1.3rem;
      padding-bottom: 10px;
   }

   .contact_form .form_group p {
      margin-bottom: 10px;
      font-size: 1.3rem;
   }

   textarea {
      width: 100%;
      font-size: 1.3rem;
   }

   .contact_btn button {
      width: 100%;
      padding: 10px 0;
      font-size: 1.3rem;
   }

   .scroll_to_top img {
      width: 2.5rem;
      height: 2.5rem;
   }

}


/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
   .main {
      margin: 7rem 0 0 0;
   }

   .main .container {
      /* background: red; */
      max-width: 90%;
   }
   
   .header {
      height: 95vh;
   }

   .header_bg {
      height: 95vh;
   }

   .menu_btn {
      display: block;
      margin-left: 15px;
   }

   .close_btn {
      display: none;
      color: black;
      position: fixed;
      top: 1rem;
      right: 1rem;
      z-index: 1000;
   }

   .navigation {
      padding: 10px 0;
   }

   .navigation .nav {
      padding-top: 10px;
      max-width: 90%;
   }

   .logo a{
      font-size: 1.37rem;
      font-weight: var(--semi-bold);
   }
   

   .navigation .nav .nav_lists .menu {
      display: none;
   }

   .responsive_nav_menu {
      position: fixed;
      top: 0;
      right: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: fit-content;
      width: 15rem;
      background-color: white;
      text-align: left;
      padding: 3rem 1rem 0 2rem;
      transition: 0.3s ease;
      display: none;
      /* font-size: 1.5rem; */
   }

   .responsive_nav_menu li {
      list-style: none;
      width: 100%;
      height: 4rem;
      font-size: 1.1rem;
   }
   
   .responsive_nav_menu li a{
      text-decoration: none;
      color: black;
   }

   .responsive_nav_menu.display_nav {
      display: block;
      z-index: 100;
   }



   
   .cart {
      position: relative;
   }

   .navigation .cart .icon {
      font-size: 1rem;
   }


   .incart {
      top: -0.8rem;
      right: 5px;
      font-size: 1rem;
   }


   .header_body {
      width: 100%;
      /* height: 90vh; */
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
   }

   .header_body .socials {
      display: none;
   }


   .header_body .content_body {
      width: 100%;
      /* height: 100vh; */
      margin: 1rem auto;
      margin-bottom: 0;
      flex-direction: column-reverse;
   }


   .header_body .content_body .content {
      width: 90%;
      /* margin-top: -5rem; */
   }

   .header_body .content_body .content h5 {
      width: 100%;
      font-size: 1.05rem;
      margin: 10px 0 5px 0;
   }

   .header_body .content_body .content h2 {
      font-size: 1.7rem;
      width: 100%;
      margin: 0 0 10px 0;
      line-height: 2.1rem;
   }

   .header_body .content_body .content p {
      font-size: 1.05rem;
      width: 100%;
      margin: 0 0 10px 0;
   }

   .header_body .content_body .content_img {
      width: 100%;
      height: 22rem;
      position: static;
   }


   .header_body .content_body .content_img img {
      width: 100%;
      height: 100%;
      position: relative;
      /* top: 1rem; */
      /* right: 0; */
      opacity: 0;
      transition: 1.3s;
   }

   .header_footer_container {
      grid-template-columns: repeat(3, 7rem);
   }

   .header_footer_text h1 {
      font-size: 1rem;
   }

   .header_footer div p {
      font-size: 0.9rem;
   }


   /*About  */
   .about .about_content {
      display: flex;
      flex-direction: column-reverse;
      /* margin-bottom: 2rem; */
   }


   .content h1 {
      margin-top: 0;
   }

   .content p {
      width: 100%;
      font-size: 1.05rem;
   }

   .about_content h1 {
      font-size: 1.8rem;
   }

   .about .content_img {
      max-width: 100%;
      height: 20rem;
      margin-bottom: 20px;
   } 

   .about .content_img img {
      width: 100%;
      height: 100%;
      /* background-color: red; */
   }

   .about_cta button {
      font-size: 1.1rem;
      padding: 8px 15px;
   }

   /* Swiper Js */
   .swiper_btns {
      position: relative;
      bottom: 20px;
      left: 7.7rem;
      display: block;
   }
   
   .swiper_btns .swiper-button-next {
      position: relative;
      right: -4rem;
   }

   .cards .card img {
      width: 80%;
      height: 15rem;
      /* background-color: red; */
   }

   .cards .card img .img {
      width: 100%;
      height: 100%;
   }

   /* Processes */  
   .contents .content_card {
      flex-direction: column;
      align-items: flex-start;
   }

   .contents .content_card:nth-child(3) {
      margin-bottom: 1rem;
   }

   .contents .content_card:nth-child(2) {
      flex-direction: column;
   }

   .content_card .content h1 {
      width: 100%;
      font-size: 1.8rem;
   }

   .content_card .content p {
      width: 98%;
      font-size: 1.05rem;
      /* margin-bottom: 1.5rem; */
   }

   .content_card .content_img {
      width: 100%;
      height: 20rem;
   }

   .content_card .content_img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   



   /* Benefits */
   .benefits .contents .line {
      height: 10rem;
   } 

   .benefit h4 {
      font-size: 1.2rem;
   }

   .benefit p {
      width: 100%;
      font-size: 1.05rem;
      line-height: 1.5rem;
   }

   /* Works */
   .works_container {
      grid-template-columns: 1fr;
   }
   
   .works .filters {
      display: none;
   }

   .works_container .work img {
      width: 100%;
      height: 20rem;
   }

   .works_container .work h3, .teams_container .team h3 {
      font-size: 1.15rem;
   }
   
   .works_container .work p, .teams_container .team p {
      font-size: 0.9rem;
   }

   /* Teams */
   .teams .teams_container {
      grid-template-columns: 1fr;
   }

   
   .teams_container .team img {
      width: 100%;
   }

   /* Reviews */
   .reviews .reviews_container {
      grid-template-columns: 1fr;
   }

   .review .info h5 {
      font-size: 1.2rem;
   }

   .review .info p {
      font-size: 1rem;
   }

   .review .review_ {
      font-size: 1.05rem;
      line-height: 1.5rem;
   }
   

   /* Shop */
   .shop_container {
      grid-template-columns: 1fr;
   }

   .shop_container .product img {
      width: 100%;
   }

   .shop_container .product h3 {
      font-size: 1.25rem;
      margin-top: 20px;
   }
   
   .shop_container .product p {
      margin: 1rem 0;
      font-size: 1.15rem;
   }
   
   .shop_container .product .cart_btn {
      margin-bottom: 20px;
   }
   
   .shop_container .product .cart_btn button {
      padding: 10px 50px;
   }

   /* Contact */
   .contact_container {
      flex-direction: column;
      align-items: flex-start;
   }


   .contact_info p {
      width: 18rem;
      margin-bottom: 3rem;
      font-size: 1.05rem;
   }

   .contact_info h2 {
      width: 100%;
      font-size: 1.25rem;
   }

   .contact_info h4 {
      width: 18rem;
      font-size: 1.25rem;
   }  
   

   .contact_form .form_group input {
      width: 100%;
   }

   textarea {
      width: 100%;
   }

   .contact_btn button {
      width: 100%;
      padding: 8px 93px;
   }
   
} 


/* Mobile Devices :: Media Queries */
@media screen and (max-width : 968px) and (orientation: landscape) {
   .main {
      margin: 7rem 0 0 0;
   }

   .main .container {
      /* background: red; */
      max-width: 90%;
   }

   .header {
      height: 110.5vh;
   }

   .header_bg {
      height: 110.5vh;
   }

   .menu_btn {
      display: block;
      margin-left: 15px;
   }

   .close_btn {
      display: none;
      color: black;
      position: fixed;
      top: 1rem;
      right: 1rem;
      z-index: 1000;
   }

   .navigation {
      padding: 10px 0;
   }

   .navigation .nav {
      padding-top: 10px;
      max-width: 90%;
   }

   .logo a {
      font-size: 1.37rem;
      font-weight: var(--semi-bold);
   }


   .navigation .nav .nav_lists .menu {
      display: none;
   }

   .responsive_nav_menu {
      position: fixed;
      top: 0;
      right: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: fit-content;
      width: 15rem;
      background-color: white;
      text-align: left;
      padding: 3rem 1rem 0 2rem;
      transition: 0.3s ease;
      display: none;
      /* font-size: 1.5rem; */
   }

   .responsive_nav_menu li {
      list-style: none;
      width: 100%;
      height: 4rem;
      font-size: 1.1rem;
   }

   .responsive_nav_menu li a {
      text-decoration: none;
      color: black;
   }

   .responsive_nav_menu.display_nav {
      display: block;
      z-index: 100;
   }




   .cart {
      position: relative;
   }

   .navigation .cart .icon {
      font-size: 1rem;
   }


   .incart {
      top: -0.8rem;
      right: 5px;
      font-size: 1rem;
   }


   .header_body {
      width: 100%;
      /* height: 90vh; */
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
   }

   .header_body .socials {
      display: none;
   }


   .header_body .content_body {
      width: 90%;
      /* height: 100vh; */
      margin: 1rem auto;
      margin-bottom: 0;
      flex-direction: row;
   }


   .header_body .content_body .content {
      width: 50%;
      /* margin-top: -5rem; */
   }

   .header_body .content_body .content h5 {
      width: 100%;
      font-size: 1.05rem;
      margin: 10px 0 5px 0;
   }

   .header_body .content_body .content h2 {
      font-size: 1.7rem;
      width: 100%;
      margin: 0 0 10px 0;
      line-height: 2.1rem;
   }

   .header_body .content_body .content p {
      font-size: 1.05rem;
      width: 100%;
      margin: 0 0 10px 0;
   }

   .header_cta button .about_cta button {
      font-size: 1.2rem;
      padding: 8px 15px;
   }

   .header_body .content_body .content_img {
      width: 22rem;
      height: 22rem;
      position: absolute;
      right: 0;
      top: 2rem;
   }


   .header_body .content_body .content_img img {
      width: 100%;
      height: 100%;
      position: relative;
      /* top: 1rem; */
      /* right: 0; */
      opacity: 0;
      transition: 1.3s;
   }

   .header_footer_container {
      grid-template-columns: repeat(3, 1fr);
   }

   .header_footer_text h1 {
      font-size: 1rem;
   }

   .header_footer div p {
      font-size: 0.9rem;
   }


   /*About  */
   .about .about_content {
      display: flex;
      flex-direction: column;
      /* margin-bottom: 2rem; */
   }


   .content h1 {
      margin-top: 0;
   }

   .content p {
      width: 100%;
      font-size: 1.05rem;
   }

   .about_content h1 {
      font-size: 1.8rem;
   }

   .about .content_img {
      max-width: 100%;
      height: 20rem;
      margin-top: 25px;
   }

   .about .content_img img {
      width: 100%;
      height: 100%;
      /* background-color: red; */
   }

   

   /* Swiper Js */
   .swiper_btns {
      position: relative;
      bottom: 20px;
      left: 17rem;
      display: block;
   }

   .swiper_btns .swiper-button-next {
      position: relative;
      right: -4rem;
   }

   .cards .card img {
      width: 80%;
      height: 15rem;
      /* background-color: red; */
   }

   .cards .card img .img {
      width: 100%;
      height: 100%;
   }

   /* Processes */
   .contents .content_card {
      flex-direction: column;
      align-items: flex-start;
   }

   .contents .content_card:nth-child(3) {
      margin-bottom: 1rem;
   }

   .contents .content_card:nth-child(2) {
      flex-direction: column;
   }

   .content_card .content h1 {
      width: 100%;
      font-size: 1.8rem;
   }

   .content_card .content p {
      width: 98%;
      font-size: 1.05rem;
      /* margin-bottom: 1.5rem; */
   }

   .content_card .content_img {
      width: 100%;
      height: 20rem;
   }

   .content_card .content_img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }





   /* Benefits */

   .benefits .contents .line {
      height: 10rem;
   }

   .benefit {
      margin-left: 10px;
   }


   .benefit h4 {
      font-size: 1.2rem;
   }

   .benefit p {
      width: 15rem;
      font-size: 1.05rem;
      line-height: 1.5rem;
      margin: 0;
   }

   /* Works */
   .works_container {
      grid-template-columns: repeat(2, 1fr);
   }

   .works .filters {
      display: none;
   }

   .works_container .work img {
      width: 100%;
      height: 20rem;
   }

   .works_container .work h3,
   .teams_container .team h3 {
      font-size: 1.15rem;
   }

   .works_container .work p,
   .teams_container .team p {
      font-size: 0.9rem;
   }

   /* Teams */
   .teams .teams_container {
      grid-template-columns: repeat(2, 1fr);
   }


   .teams_container .team img {
      width: 100%;
   }

   /* Reviews */
   .reviews .reviews_container {
      grid-template-columns: repeat(2, 1fr);
   }

   .review .info h5 {
      font-size: 1.2rem;
   }

   .review .info p {
      font-size: 1rem;
   }

   .review .review_ {
      font-size: 1.05rem;
      line-height: 1.5rem;
   }


   /* Shop */
   .shop_container {
      grid-template-columns: repeat(2, 1fr);
   }

   .shop_container .product img {
      width: 100%;
   }

   .shop_container .product h3 {
      font-size: 1.25rem;
      margin-top: 20px;
   }

   .shop_container .product p {
      margin: 1rem 0;
      font-size: 1.15rem;
   }

   .shop_container .product .cart_btn {
      margin-bottom: 20px;
   }

   .shop_container .product .cart_btn button {
      padding: 10px 50px;
   }

   /* Contact */
   .contact_container {
      flex-direction: row;
      align-items: flex-start;
   }


   .contact_info p {
      width: 18rem;
      margin-bottom: 3rem;
      font-size: 1.05rem;
   }

   .contact_info h2 {
      width: 100%;
      font-size: 1.25rem;
   }

   .contact_info h4 {
      width: 18rem;
      font-size: 1.25rem;
   }


   .contact_form .form_group input {
      width: 100%;
   }

   textarea {
      width: 100%;
   }

   .contact_btn button {
      width: 100%;
      padding: 8px 93px;
   }

}










